repos:
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: c2738302f5cf2bfb559c1f210950badb133613ea  # frozen: v1.19.0
    hooks:
      - id: mypy
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: 745eface02aef23e168a8afb6b5737818efbea95  # frozen: v0.11.0.1
    hooks:
      - id: shellcheck
        args: [--exclude, SC1017]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: '36243b70e5ce219623c3503f5afba0f8c96fda55'  # frozen: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
